---
layout: page
title: About
description: "Who am I?"
---
{% include JB/setup %}

<p> 
    I'm a 
    <a href="http://fr.linkedin.com/in/rousseaupierre/en">software engineer</a>.
</p>

<p> I like to write code and to test new tools.  </p>

<p class="profile">
    <a href="http://stackoverflow.com/users/4596254/pierre">
        <img 
            src="/assets/images/so.png" 
            alt="SO avatar" 
            title="StackOverflow"></a>
    <a href="https://github.com/pierrerousseau">
        <img 
            src="/assets/images/gh.png" 
            alt="GH avatar" 
            title="GitHub"></a>
    <a href="https://news.ycombinator.com/user?id=proussea">
        <img 
            src="/assets/images/hn.png" 
            alt="HN avatar" 
            title="HackerNews"></a>
</p>

<p> I try to be slow with agility. </p>

<div class="related">
    <h3>Last Posts</h3>
    <ul class="related-posts">
        {% for post in site.posts limit:5 %}
        <li>
        {% for category in post.categories limit:1 %}
        <small> [ {{ category }} ]</small>
        {% endfor %}
        <a href="{{ post.url }}"> <small>{{ post.title }}</small> </a>
        </li>
        {% endfor %}
    </ul>
</div>
